# Function Practice Exercises

แบบฝึกหัดถูกแบ่งออกเป็นระดับตามความยาก
* Warmup - ใช้เพียง comparison และ method พื้นฐาน
* Level 1 - if/then conditional 
* Level 2 - ใช้ iterables ในการสร้าง loop
* Challenging - ใช้ความคิดสร้างสรรค์

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    pass

In [ ]:
def lesser_of_two_evens(a,b):
    if a and b % 2 == 0:
        print  
    else

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 ==0 and b % 2 ==0:
        if a<b:
            return a
        else:
            return b
    else:
        if a>b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [13]:
def animal_crackers(text):
    if text == text:
        return True
    if text != text:
        return False
    ###ผิด

In [16]:
def animal_crackers(text):
    if text == text[:] :
        return True
    if text != text[:] :
        return False
    ###ผิด

In [19]:
a = "m u"

In [20]:
a.split()

['m', 'u']

In [21]:
a

'm u'

In [25]:
def animal_crackers(text):
    text.split()
    spt_text = text.split()
    if spt_text[0][0]==spt_text[1][0]:
        return True
    else:
        return False
    ### ถูก

In [22]:
def animal_crackers(text):
    spt_text = text.split()
    if spt_text[0][0]==spt_text[1][0]:
        return True
    else:
        return False    
    ### ถูก

In [26]:
# Check
animal_crackers('Levelheaded Llama')

True

In [27]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    pass

In [4]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    if n1 or n2 == 20:
        return True
    else:
        return False
    ###ผิด

In [7]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False
    ### ถูก

In [8]:
# Check
makes_twenty(20,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    pass

In [37]:
# Check
old_macdonald('macdonald')

In [ ]:
def old_macdonald(name):
    name.capitalize
    if name.capitalize 
        print ()

In [46]:
def old_macdonald(name):
    name[:3].capitalize()+name[3:].capitalize()
    return name[:3].capitalize()+name[3:].capitalize()

In [49]:
old_macdonald('macdonald')

'MacDonald'

In [48]:
def old_macdonald(name):
    name_1 = name[:3].capitalize()+name[3:].capitalize()
    return name_1

In [36]:
old_macdonald(name_1)

In [29]:
name_1 = "macdonald"

In [31]:
name_1[:3]

'mac'

In [32]:
name_1[3:]

'donald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    pass

In [ ]:
def master_yoda(text):

In [63]:
def master_yoda(text):
    spt_text=text.split()
    spt_text_1 = spt_text[::-1]
    text2 = " ".join(spt_text_1)
    return text2

In [68]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [69]:
master_yoda('We are ready')

'ready are We'

In [70]:
# Check
master_yoda('I am home')

'home am I'

In [52]:
"htrif"[::-1]

'firth'

In [ ]:
# Check
master_yoda('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
    pass

In [ ]:
def almost_there(n):
    89 111 189 211

In [74]:
def almost_there(n):
    if n + 10 <= 100 or n + 10 >= 100: 
        return True
    elif n + 10 <= 200 or n +1 >= 200:
        return False

In [89]:
def almost_there(n):
    if

In [93]:
def almost_there(n):
    if n + 10 == (89,111)or n+10 == (189,211):
        return True
    else:
        return False

In [94]:
# Check
almost_there(104)

False

In [95]:
# Check
almost_there(150)

False

In [96]:
# Check
almost_there(209)

False

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):

In [103]:
def has_33(nums):
    
    if nums [x] == 3 and nums [x]+1 ==3:
        return True
    else:
        return False

In [27]:
def has_33(nums):
    for x in range(0, len(nums)-1):
         if nums[x:x+2] == [3,3]:
            return True 
    else:
        return False

In [40]:
def has_33(nums):
    for x in range(len(nums)-1):
        if nums[x] ==3:
            if nums [x+1] == 3:
                return True
    else:
        return False

In [ ]:
def has_33(nums):
    for x in range(len(nums)):
        if num[x] == 3 and nums[x-1] == 3:
            return True 
        ### ผิด

In [41]:
list(range(len([1,3,3])))

[0, 1, 2]

In [42]:
# Check
has_33([1, 3, 3])

True

In [43]:
# Check
has_33([1, 3, 1, 3])

False

In [44]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    pass

In [37]:
def paper_doll(text):
    me = ''
    for x in text:
        me += x * 3
    return me

In [38]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [39]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    pass

In [79]:
def blackjack(a,b,c):
    if a in range(1,12) > 21:
        return sum

In [80]:
# Check
blackjack(5,6,7)

TypeError: '>' not supported between instances of 'range' and 'int'

In [ ]:
# Check
blackjack(9,9,9)

In [ ]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    pass

In [ ]:
def summer_69(arr):

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [49]:
def spy_game(nums):
    var = []
    for x in (nums):
        if x == 0 and var == []:
            var.append(x)
        elif x == 0 and var == [0]:
            var.append(x)
        elif x ==7 and var == [0,0]:
            var.append(x)
    if var == [0,0,7]:
        return True
    else:
        return False

In [ ]:
append คือ เอาของที่อยู่ในลิส เข้าไปใน ()

In [45]:
"007"=="007"

True

In [46]:
[0,0,7] == [0,0,7]

True

In [ ]:
### เก็บเปน list or str ก็ได้

In [ ]:
if:
if:
    ### ทำ operation 2 ครั้งแยกกัน

In [ ]:
if:
elif:
    ### ไม่เกิดสองครั้งแยกกัน ทำ operation เดียว test แบบ เปน serie
    ### ถ้าอีฟไม่เกิด elif ไม่เกิดแน่นอน

In [50]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [51]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [52]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!